In [15]:
from PIL import Image
import pytesseract
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files\Tesseract-OCR\tesseract.exe"
# Load the image from the file
img = Image.open("041224A1.jpeg")

# Use pytesseract to do optical character recognition on the image
temp_text = pytesseract.image_to_string(img, lang='eng')
# Print the extracted text
temp_text

'Map Show More\n\nBurlington\n\n2 HUMIDITY\n\n80%\n\n'

In [10]:
import re
# Use a regular expression to find the temperature value
match = re.search(r'@ (\d+)°', temp_text)
if match:
    temp = match.group(1)
    print(f"The detected temperature is: {temp}°")
else:
    print("Temperature not found in the text.")

The detected temperature is: 34°

In [17]:
import tkinter as tk
from tkinter import filedialog
import pytesseract
from PIL import Image
import re
import os
import pandas as pd

# Setting the path to the Tesseract executable
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files\Tesseract-OCR\tesseract.exe"

def process_image(image_path):
    image = Image.open(image_path)
    text = pytesseract.image_to_string(image, lang='eng', config='--psm 6')
    return text

def extract_temperature_and_humidity(text):
    temperature = None
    humidity = None

    # Regex to match both temperature and humidity
    temp_match = re.search(r'(?:@ |a: )(\d+)°', text)
    humidity_match = re.search(r'HUMIDITY\n\n(\d+)%', text)

    if temp_match:
        temperature = temp_match.group(1)
    if humidity_match:
        humidity = humidity_match.group(1)

    return temperature, humidity

# DataFrame to store all data cumulatively
cumulative_data_df = pd.DataFrame(columns=['Image', 'Temperature', 'Humidity'])

def upload_action():
    file_paths = filedialog.askopenfilenames()
    global cumulative_data_df
    for path in file_paths:
        text = process_image(path)
        temperature, humidity = extract_temperature_and_humidity(text)
        data = {'Image': os.path.basename(path)}
        if temperature:
            data['Temperature'] = f"{temperature}°"
        if humidity:
            data['Humidity'] = f"{humidity}%"
        cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
    
    result_text.delete('1.0', tk.END)  # Clear existing text
    result_text.insert(tk.END, cumulative_data_df.to_string(index=False))  # Display dataframe as string in text widget

def save_csv():
    save_path = filedialog.asksaveasfilename(defaultextension=".csv", filetypes=[("CSV files", "*.csv")])
    if save_path:
        global cumulative_data_df
        cumulative_data_df.to_csv(save_path, index=False)
        print(f"Data saved to {save_path}")
        cumulative_data_df = pd.DataFrame(columns=['Image', 'Temperature', 'Humidity'])  # Reset DataFrame after saving

root = tk.Tk()
root.title("Temperature and Humidity Extractor")

# Button to upload images
upload_btn = tk.Button(root, text="Upload Images", command=upload_action)
upload_btn.pack()

# Button to save CSV
save_btn = tk.Button(root, text="Save CSV", command=save_csv)
save_btn.pack()

# Text widget to display results
result_text = tk.Text(root, height=20, width=80)
result_text.pack()

root.mainloop()

C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)

C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)
C:\Users\msikh\AppData\Local\Temp\ipykernel_13012\3837233154.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cumulative_data_df = cumulative_data_df.append(data, ignore_index=True)

Data saved to C:/Users/msikh/EV_Project/EV_Discharging_Data/NEUTC/EV Trip Data/Temp_Data.csv

In [33]:
import pandas as pd
import re

# Load the CSV file
# Load the CSV file with a specified encoding
file_path = r'C:\Users\msikh\EV_Project\EV_Discharging_Data\NEUTC\EV Trip Data\EV_Temp_Data.csv'  # Replace with actual file path

# Try with different encodings if one doesn't work
try:
    Temp_Data_EV = pd.read_csv(file_path, encoding='utf-8')
except UnicodeDecodeError:
    try:
        Temp_Data_EV = pd.read_csv(file_path, encoding='latin1')
    except UnicodeDecodeError:
        Temp_Data_EV = pd.read_csv(file_path, encoding='iso-8859-1')

def extract_date_and_letter(trip_name):
    match = re.match(r"(\d{2})(\d{2})(\d{2})([A-Z])", trip_name)
    if match:
        day, month, year, letter = match.groups()
        date = f"20{year}-{month}-{day}"
        return date, letter
    return trip_name, ''

# Process the 'Trip Name' column
if 'Image' in Temp_Data_EV.columns:
    Temp_Data_EV['Date'], Temp_Data_EV['Letter'] = zip(*Temp_Data_EV['Image'].apply(extract_date_and_letter))
    Temp_Data_EV.drop(columns=['Image'], inplace=True)
Temp_Data_EV

   Temperature        Date Letter
0          34°  2024-01-04      B
1          29°  2024-02-04      A
2          36°  2024-03-04      A
3          41°  2024-03-04      B
4          31°  2024-04-04      A
5          62°  2024-09-04      A
6          37°  2024-09-04      B
7          47°  2024-11-04      A
8          45°  2024-11-04      B
9          61°  2024-12-04      A
10         59°  2024-12-04      B
11         48°  2024-16-04      A
12         37°  2024-16-04      B
13         53°  2024-17-04      A
14         36°  2024-17-04      B
15         40°  2024-18-04      A
16        Null  2024-18-04      B
17         38°  2024-23-04      A
18        Null  2024-09-05      A
19         46°  2024-09-05      B
20         31°  2024-26-02      B
21         47°  2024-27-02      A
22         16°  2024-29-02      A
23         29°  2024-12-03      B
24         49°  2024-14-03      A
25         34°  2024-14-03      B
26         40°  2024-15-03      A
27         38°  2024-15-03      B
28         33°  2024-19-03      A
29         32°  2024-20-03      B
30        Null  2024-21-03      A
31        Null  2024-21-03      B
32        Null  2024-22-03      A
33        Null  2024-25-03      B
34        Null  2024-26-03      B
35         39°  2024-27-03      B
36         42°  2024-28-03      A
37         40°  2024-28-03      B
38        Null  2024-09-05      A
39         46°  2024-09-05      B

In [38]:
def update_temperature(df, date, letter, temperature):
    # Remove the unit and handle the case where temperature is Null
    if pd.isna(temperature) or temperature is None or temperature == "Null":
        temperature_val = None
    else:
        temperature_val = int(temperature.replace('°', ''))
    
    # Check if the entry exists
    mask = (df['Date'] == date) & (df['Letter'] == letter)
    if not df[mask].empty:
        # Update existing entry
        df.loc[mask, 'Temperature'] = temperature_val
    else:
        # Append new entry
        new_row = pd.DataFrame({'Temperature': [temperature_val], 'Date': [date], 'Letter': [letter]})
        df = pd.concat([df, new_row], ignore_index=True)

    return df

# Update the DataFrame with new data
for index, row in Temp_Data_EV.iterrows():
    df = update_temperature(df, row['Date'], row['Letter'], row['Temperature'])

# Save the updated DataFrame back to the CSV file
df.to_csv(file_path_2, index=False, encoding='utf-8')

In [43]:
# Load the CSV file

df = pd.read_csv(file_path_2)

# Normalize the date format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', format='%Y-%d-%m').fillna(
    pd.to_datetime(df['Date'], errors='coerce', format='%d/%m/%Y')
)

# Remove the unit from temperature and convert to numeric
df['Temperature'] = df['Temperature'].replace('°', '', regex=True).astype(float)

In [44]:
df

,Unnamed: 0,Too long,Date,Letter,Time Summary_GPS,Time Summary_Apple,Avg Altitude (ft),Avg Speed_GPS,Avg Speed_Apple,Distance_GPS,Distance_Apple,Elevation Gain (ft),Temperature
0,0.0,0.0,2024-02-26,B,01h08m09s,1:06:46,930,47.5,48.2,53.9,53.65,"2,996",31.0
1,1.0,0.0,2024-02-27,A,0 1h03m28s,1:03:20,939,54.0,53.5,57.5,56.52,"3,149",47.0
2,2.0,0.0,2024-02-29,A,01h08m19s,1:08:02,918,47.6,47.6,54.2,54.04,"2,847",16.0
3,3.0,0.0,2024-03-12,B,01h05m09s,1:05:43,946,49.5,49.3,53.8,54.03,"2,968",NaN
4,4.0,0.0,2024-03-14,A,01h06m52s,1:06:38,941,48.5,48.6,54.0,54.00,"2,900",49.0
5,5.0,0.0,2024-03-14,B,01h09m53s,1:09:41,937,46.3,46.1,53.9,53.57,"2,961",34.0
6,6.0,0.0,2024-03-15,A,01h40m59s,1:10:14,944,32.1,46.1,54.0,54.05,"2,766",40.0
7,7.0,1.0,2024-03-15,B,01h07m41s,1:07:24,932,50.3,50.5,56.7,56.82,"3,162",38.0
8,8.0,0.0,2024-03-19,A,01h04m58s,1:04:38,932,49.9,50.1,54.0,54.07,"2,819",33.0
9,9.0,1.0,2024-03-20,B,0 1h08m27s,1:08:44,951,49.7,49.5,56.8,56.74,"3,105",32.0
10,10.0,0.0,2024-03-21,A,01h05m04s,1:06:07,935,52.9,51.8,57.3,57.18,"3,056",NaN
11,11.0,0.0,2024-03-21,B,01h02m15s,1:02:21,939,50.2,50.2,52.1,52.22,"3,060",NaN
12,12.0,0.0,2024-03-22,A,01h29m47s,1:30:16,800,40.0,39.4,59.8,59.31,"3,033",NaN
13,13.0,0.0,2024-03-25,B,01h07m17s,1:06:52,935,48.0,48.3,53.9,53.93,"3,007",NaN
14,14.0,0.0,2024-03-26,B,0 1h05m26s,1:05:12,930,49.4,49.6,53.9,53.91,"3,112",NaN
15,15.0,0.0,2024-03-27,B,01h09m37s,1:09:22,938,46.4,46.6,53.9,53.94,"2,987",39.0
16,16.0,0.0,2024-03-28,A,01h04m19s,1:04:04,960,53.6,53.0,57.5,56.63,"2,995",42.0
17,17.0,0.0,2024-03-28,B,01h09m51s,1:09:38,941,46.2,46.4,53.8,53.91,"2,934",40.0
18,18.0,0.0,2024-04-02,A,0 1h05m29s,1:05:37,15416,49.7,49.3,54.2,54.01,"2,966",NaN
19,19.0,0.0,2024-04-03,A,0 1h07m27s,1:07:12,938,50.8,50.5,57.1,56.59,"3,039",NaN
20,20.0,0.0,2024-04-03,B,01h05m55s,1:05:42,"1,527",49.0,49.2,53.8,53.89,"3,077",NaN
21,21.0,0.0,2024-04-04,A,01h16m51s,1:16:40,1,42.0,42.1,53.8,53.92,"2,981",NaN
22,22.0,0.0,2024-04-09,A,01h15m23s,1:15:09,"1,581",46.9,47.0,58.9,58.97,"3,229",NaN
23,23.0,0.0,2024-04-09,B,01h07m18s,1:07:06,940,48.0,48.2,53.8,53.92,"2,948",NaN
24,24.0,0.0,2024-04-11,A,01h06m52s,1:06:41,"1,601",49.0,50.0,54.6,55.61,"2,680",NaN
25,25.0,0.0,2024-04-11,B,01h08m42s,1:08:29,1614,47.0,47.2,53.9,53.91,"3,157",NaN
26,26.0,0.0,2024-04-12,A,01h06m32s,1:06:16,937,50.9,50.8,56.4,56.18,"2,092",NaN
27,27.0,0.0,2024-04-12,B,01h06m25s,1:06:46,916,51.2,50.8,57.3,56.55,"2,976",NaN
28,28.0,0.0,2024-04-16,A,01h14m11 s,1:13:58,952,48.6,48.7,60.1,60.03,"3,378",48.0
29,29.0,0.0,2024-04-16,B,01h07m00s,1:07:23,950,48.1,47.9,54.2,53.94,"2,999",37.0
30,30.0,0.0,2024-04-17,A,01 h06m48s,1:06:35,882,48.9,48.8,54.5,54.20,"2,117",53.0
31,31.0,0.0,2024-04-17,B,01h07m03s,1:06:46,"1,495",51.2,51.4,57.2,57.27,3101,36.0
32,32.0,1.0,2024-04-18,A,01h12m25s,1:12:11,952,47.7,47.8,57.6,57.59,"2,996",40.0
33,33.0,1.0,2024-04-18,B,01 h30m27s,1:30:07,947,35.9,36.0,54.1,54.16,"3,047",NaN
34,34.0,1.0,2024-04-23,A,01h09m39s,1:09:25,925,46.7,46.9,54.3,54.30,"3,156",38.0
35,35.0,0.0,2024-05-09,A,01h00m38s,1:00:26,1617,63.7,62.5,64.4,62.96,"2,884",NaN
36,36.0,1.0,2024-05-09,B,01 h16m36s,1:16:28,933,42.5,42.3,54.3,53.95,"3,030",NaN
37,NaN,NaN,2024-04-01,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0
38,NaN,NaN,2024-04-02,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0
39,NaN,NaN,2024-04-03,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0
40,NaN,NaN,2024-04-03,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0
41,NaN,NaN,2024-04-04,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0
42,NaN,NaN,2024-04-09,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0
43,NaN,NaN,2024-04-09,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0
44,NaN,NaN,2024-04-11,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
45,NaN,NaN,2024-04-11,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0
46,NaN,NaN,2024-04-12,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0
47,NaN,NaN,2024-04-12,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
48,NaN,NaN,2024-05-09,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,2024-05-09,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0
50,NaN,NaN,2024-03-12,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0

In [50]:
import datete
# Convert text to a list of dates
dates = df['Date']

# Define a function to parse dates and standardize format
def parse_date(date_str):
    for fmt in ("%Y-%d-%m", "%d/%m/%Y"):
        try:
            return datetime.strptime(date_str, fmt).strftime("%Y-%d-%m")
        except ValueError:
            continue
    raise ValueError(f"Date format not recognized: {date_str}")

# Apply the function to all dates
standardized_dates = [parse_date(date) for date in dates]

df["Date"]=standardized_dates



df

AttributeError: module 'datetime' has no attribute 'strptime'

In [47]:
df

,Unnamed: 0,Too long,Date,Letter,Time Summary_GPS,Time Summary_Apple,Avg Altitude (ft),Avg Speed_GPS,Avg Speed_Apple,Distance_GPS,Distance_Apple,Elevation Gain (ft),Temperature
0,0.0,0.0,2024-02-26,B,01h08m09s,1:06:46,930,47.5,48.2,53.9,53.65,"2,996",31.0
1,1.0,0.0,2024-02-27,A,0 1h03m28s,1:03:20,939,54.0,53.5,57.5,56.52,"3,149",47.0
2,2.0,0.0,2024-02-29,A,01h08m19s,1:08:02,918,47.6,47.6,54.2,54.04,"2,847",16.0
3,3.0,0.0,2024-03-12,B,01h05m09s,1:05:43,946,49.5,49.3,53.8,54.03,"2,968",NaN
4,4.0,0.0,2024-03-14,A,01h06m52s,1:06:38,941,48.5,48.6,54.0,54.00,"2,900",49.0
5,5.0,0.0,2024-03-14,B,01h09m53s,1:09:41,937,46.3,46.1,53.9,53.57,"2,961",34.0
6,6.0,0.0,2024-03-15,A,01h40m59s,1:10:14,944,32.1,46.1,54.0,54.05,"2,766",40.0
7,7.0,1.0,2024-03-15,B,01h07m41s,1:07:24,932,50.3,50.5,56.7,56.82,"3,162",38.0
8,8.0,0.0,2024-03-19,A,01h04m58s,1:04:38,932,49.9,50.1,54.0,54.07,"2,819",33.0
9,9.0,1.0,2024-03-20,B,0 1h08m27s,1:08:44,951,49.7,49.5,56.8,56.74,"3,105",32.0
10,10.0,0.0,2024-03-21,A,01h05m04s,1:06:07,935,52.9,51.8,57.3,57.18,"3,056",NaN
11,11.0,0.0,2024-03-21,B,01h02m15s,1:02:21,939,50.2,50.2,52.1,52.22,"3,060",NaN
12,12.0,0.0,2024-03-22,A,01h29m47s,1:30:16,800,40.0,39.4,59.8,59.31,"3,033",NaN
13,13.0,0.0,2024-03-25,B,01h07m17s,1:06:52,935,48.0,48.3,53.9,53.93,"3,007",NaN
14,14.0,0.0,2024-03-26,B,0 1h05m26s,1:05:12,930,49.4,49.6,53.9,53.91,"3,112",NaN
15,15.0,0.0,2024-03-27,B,01h09m37s,1:09:22,938,46.4,46.6,53.9,53.94,"2,987",39.0
16,16.0,0.0,2024-03-28,A,01h04m19s,1:04:04,960,53.6,53.0,57.5,56.63,"2,995",42.0
17,17.0,0.0,2024-03-28,B,01h09m51s,1:09:38,941,46.2,46.4,53.8,53.91,"2,934",40.0
18,18.0,0.0,2024-04-02,A,0 1h05m29s,1:05:37,15416,49.7,49.3,54.2,54.01,"2,966",NaN
19,19.0,0.0,2024-04-03,A,0 1h07m27s,1:07:12,938,50.8,50.5,57.1,56.59,"3,039",NaN
20,20.0,0.0,2024-04-03,B,01h05m55s,1:05:42,"1,527",49.0,49.2,53.8,53.89,"3,077",NaN
21,21.0,0.0,2024-04-04,A,01h16m51s,1:16:40,1,42.0,42.1,53.8,53.92,"2,981",NaN
22,22.0,0.0,2024-04-09,A,01h15m23s,1:15:09,"1,581",46.9,47.0,58.9,58.97,"3,229",NaN
23,23.0,0.0,2024-04-09,B,01h07m18s,1:07:06,940,48.0,48.2,53.8,53.92,"2,948",NaN
24,24.0,0.0,2024-04-11,A,01h06m52s,1:06:41,"1,601",49.0,50.0,54.6,55.61,"2,680",NaN
25,25.0,0.0,2024-04-11,B,01h08m42s,1:08:29,1614,47.0,47.2,53.9,53.91,"3,157",NaN
26,26.0,0.0,2024-04-12,A,01h06m32s,1:06:16,937,50.9,50.8,56.4,56.18,"2,092",NaN
27,27.0,0.0,2024-04-12,B,01h06m25s,1:06:46,916,51.2,50.8,57.3,56.55,"2,976",NaN
28,28.0,0.0,2024-04-16,A,01h14m11 s,1:13:58,952,48.6,48.7,60.1,60.03,"3,378",48.0
29,29.0,0.0,2024-04-16,B,01h07m00s,1:07:23,950,48.1,47.9,54.2,53.94,"2,999",37.0
30,30.0,0.0,2024-04-17,A,01 h06m48s,1:06:35,882,48.9,48.8,54.5,54.20,"2,117",53.0
31,31.0,0.0,2024-04-17,B,01h07m03s,1:06:46,"1,495",51.2,51.4,57.2,57.27,3101,36.0
32,32.0,1.0,2024-04-18,A,01h12m25s,1:12:11,952,47.7,47.8,57.6,57.59,"2,996",40.0
33,33.0,1.0,2024-04-18,B,01 h30m27s,1:30:07,947,35.9,36.0,54.1,54.16,"3,047",NaN
34,34.0,1.0,2024-04-23,A,01h09m39s,1:09:25,925,46.7,46.9,54.3,54.30,"3,156",38.0
35,35.0,0.0,2024-05-09,A,01h00m38s,1:00:26,1617,63.7,62.5,64.4,62.96,"2,884",NaN
36,36.0,1.0,2024-05-09,B,01 h16m36s,1:16:28,933,42.5,42.3,54.3,53.95,"3,030",NaN
37,NaN,NaN,2024-04-01,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0
38,NaN,NaN,2024-04-02,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0
39,NaN,NaN,2024-04-03,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0
40,NaN,NaN,2024-04-03,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0
41,NaN,NaN,2024-04-04,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0
42,NaN,NaN,2024-04-09,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0
43,NaN,NaN,2024-04-09,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0
44,NaN,NaN,2024-04-11,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
45,NaN,NaN,2024-04-11,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0
46,NaN,NaN,2024-04-12,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0
47,NaN,NaN,2024-04-12,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
48,NaN,NaN,2024-05-09,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,2024-05-09,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0
50,NaN,NaN,2024-03-12,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0